{% extends 'shop/basic.html' %}
{% block title%} About Us{% endblock %}
{% block body %}
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Online Bakery Shop</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis perferendis minus dicta iste iure repellendus
        inventore totam. Totam a non explicabo nostrum rem nemo corrupti maiores repellendus, vel deleniti! Vitae
        blanditiis repellat sint harum.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <hr>
  </div> <!-- /container -->
</main>
<footer class="text-center fixed-bottom text-white" style="background-color: #caced1;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">Backry Shop</a>
  </div>
  <!-- Copyright -->
</footer>

{% endblock %}