{% extends 'shop/basic.html' %}
{% block css %}


body{background:#eee}.ratings i{font-size: 16px;color: red}.strike-text{color: red;text-decoration:
line-through}.product-image{width: 200px; height: 200px;}.dot{height: 7px;width: 7px;margin-left: 6px;margin-right:
6px;margin-top:
3px;background-color: blue;border-radius: 50%;display: inline-block}.spec-1{color: #938787;font-size:
15px}h5{font-weight: 400}.para{font-size: 16px}

{% endblock %}
{% block body %}
{% load static %}
<br>
<div class="container">
    <!--Slideshow starts here -->
    {% for product, range, nSlides in allProds %}
    <h5 class="my-2">A Wide Range of {{product.0.category}} -Items</h5>
    <div class="row">
        <div id="demo{{forloop.counter}}" class="col carousel slide my-1" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                {% for i in range %}
                <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                {% endfor %}
            </ul>
            <div class="container mt-1 mb-4">
                <div class="d-flex justify-content-center row">
                    {% for i in product %}
                    <div class="container my-2 mt-1 mb-4 col-md-10">
                        <div class="row p-2 bg-white border rounded mt-2">
                            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image"
                                    src="/media/{{i.image}}"></div>
                            <div class="col-md-6 mt-1">
                                <h5>{{i.product_name}}</h5>
                                <div class="d-flex flex-row">
                                    <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                </div>
                                <div class="mt-1 mb-1 spec-1"><span>100% Veg</span><span class="dot"></span><span>Fast
                                        Delevry</span><span class="dot"></span><span>Healthy food<br></span></div>
                                <p class="text-justify text-truncate para mb-0">{{i.desc|slice:"0:53"}}...<br><br></p>
                            </div>

                            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                <div class="d-flex flex-row align-items-center">
                                    <h4 class="mr-1">₹{{i.price}}.99</h4><span class="strike-text">₹21.99</span>
                                </div>
                                <h6 class="text-success">Free shipping</h6>
                                {% if i.cart %}
                                <center>

                                    <a href="/shop/update_cart/{{i.id}}/minus"><button id='minus" + item + "'
                                            class='btn btn-sm btn-primary minus'>-</button> </a>
                                    <span>{{i.qty}}</span>
                                    <a href=" /shop/update_cart/{{i.id}}/plus"> <button id='plus" + item + "'
                                            class='btn btn-sm btn-primary plus'> +
                                        </button></a>

                                    {% else %}
                                    <div class="d-flex flex-column mt-4">
                                        <span id="divpr{{i.id}}" class="divpr">
                                            <a href="{% url 'shop:add_cart' i.id %}"><button id="pr{{i.id}}"
                                                    class="btn btn-sm btn-primary">Add To Cart</button></a>
                                        </span>
                                </center>
                                {% endif %}
                                <a class="d-flex flex-column mt-2" href="/shop/products/{{i.id}}"><button
                                        id="qv{{i.id}}" class="btn btn-outline-primary btn-sm mt-2">Details</button></a>
                            </div>
                        </div>

                    </div>

                </div>
                {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
            </div>
            <div class="carousel-item">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
<br>
<br>
<hr>
<footer class="text-center fixed-bottom text-white" style="background-color: #caced1;">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="#">Backry Shop</a>
    </div>
    <!-- Copyright -->
</footer>
{% endblock %}
{% block js %}
<script>
    $('#popcart').popover();
    popStr = "</div> <a href='/shop/checkout'><button class='btn btn-primary' id ='checkout'>Checkout</button>"
    // "</a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>     "
    document.getElementById('popcart').setAttribute('data-content', popStr);

    $('#popcart').popover('show');
</script>

{% endblock %}